/*global styless*/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@import "./mixins";
* {
  box-sizing: border-box;
}
html:root {
  --antd-wave-shadow-color: #1c2c59;
}
body {
  background-color: #fff !important;
  font-family: "Lato", sans-serif;
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #1c2c59;
    box-shadow: 0 0 0 2px rgba(4, 33, 59, 0.2);
  }
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: #1c2c59;
  }
  .ant-input,
  .ant-select,
  .ant-select-selector {
    &-number {
      &:hover,
      &:focus,
      &-focused {
        border-color: #1c2c59;
        border-right-width: 1px;
        box-shadow: none;
      }
    }
    &:hover,
    &:focus,
    &-focused {
      border-color: #1c2c59;
      border-right-width: 1px;
      box-shadow: none;
    }
  }
}
.page {
  width: 100%;
  min-height: 100vh;
  background-position: center;
  padding: 70px;
  padding-bottom: 100px;
  &:before {
    content: "";
    display: block;
    margin: auto;
    position: fixed;
    left: -1px;
    width: calc(100% + 1px);
    height: 100%;
    top: 0;
    border-width: 69px;
    border-image: url(https://images.getbento.com/accounts/3c10e657dc5f2aa01b55394e8376688a/media/images/1426855483border.png);
    border-image-slice: 110;
    border-style: solid;
    border-image-repeat: stretch;
    z-index: 999;
    pointer-events: none;
  }
  @media (max-width: 1134px) {
    &::before {
      left: 0px;
      width: 100%;
      height: 100%;
      top: 0px;
      border-width: 55px;
      border-image: url(https://images.getbento.com/accounts/3c10e657dc5f2aa01b55394e8376688a/media/images/55483border.png);
      border-image-slice: 181 178;
      border-image-repeat: repeat;
    }
  }
}

header {
  display: flex;
  width: 100%;
  top: 0;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .logo {
      mix-blend-mode: darken;
      width: 200px;
    }
    h3 {
      font-size: 22px;
      font-weight: 300;
      span {
        font-weight: 600;
        font-size: 19px;
      }
    }
    h3,
    .actions {
      width: calc(100% / 3);
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      button {
        padding: 5px 16px;
        border: 0;
        background-color: #1c2c59;
        color: #ffe000;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #21356d;
          color: #d6bf10;
        }
      }
    }
  }
}
.tableComponent {
  display: flex;
  flex-flow: column;
  border: 1px solid #00000017;
  margin-top: 30px;
  box-shadow: 0 2px 11px -6px #000;
  transition: 0.3s;
  .table {
    display: flex;
    flex-flow: column;
    width: 100%;
    &-header,
    &-row {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 14px;

      span {
        width: 100%;
        padding: 0 16px;
        height: 30px;
        align-items: center;
        display: flex;
        img {
          width: 30px;
          height: 30px;
          object-fit: contain;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            transform: scale(5);
          }
        }
        &.url {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &.actions {
          width: 100px;
          flex-shrink: 0;
          flex-grow: 0;
          display: flex;
          justify-content: flex-end;
          i {
            margin-left: 10px;
            cursor: pointer;
            color: #444;
            transition: 0.3s;
            &:hover {
              &.fa-trash {
                color: rgb(209, 47, 47);
              }
              &.fa-pencil {
                color: rgb(23, 107, 128);
              }
            }
          }
        }
      }
    }
    &-header {
      background-color: #0000000a;

      span {
        font-weight: 600;
      }
    }
    &-row {
      transition: 0.3s;
      cursor: pointer;

      &:nth-child(odd) {
        background-color: #00000005;
      }
      &:hover {
        background-color: #0000000c;
      }
    }
  }
  h4 {
    font-size: 16px;
    margin: 0;
    padding: 0 16px;
    margin-left: 0;
    background-color: #f3f3f3;
    font-weight: 600;
    height: 40px;
    display: flex;
    align-items: center;
    .ant-select {
      margin-left: auto;
      min-width: 200px;
    }
  }
  .addNew {
    background-color: #fdfdfd;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      @include buttonMix;
    }
  }
}
.ant-form {
  .ant-input,
  .ant-select,
  .ant-input-number-group-wrapper {
    width: 100%;
  }
  button {
    @include buttonMix;
    margin: auto;
    margin-top: 60px;
  }
  h3 {
    text-align: center;
    margin-bottom: 30px;
  }
  .ant-slider-track {
    background-color: #1c2c59;
  }
  .ant-slider-dot-active {
    border-color: #d6bf10;
  }
  .ant-slider-handle {
    border-color: #21356d;
  }
  .ant-slider:hover .ant-slider-track {
    background-color: #2d478f;
  }
  .ant-slider-mark {
    span {
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(6) {
        top: -34px !important;
      }
    }
  }
  .ant-slider {
    margin-bottom: 60px;
    margin-top: 50px;
  }
}
.ant-select-selection-item {
  img {
    display: none;
  }
}
.ant-select-item-option-content {
  display: flex;
  align-items: center;
  overflow: visible;
  img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transform-origin: center;
    transition: 0.3s;
    margin-left: 30px;
    &:hover {
      transform: scale(4);
    }
  }
}
.orderItems {
  display: flex;
  flex-flow: column;
  div {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
hr {
  height: 0;
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.479);
  display: block;
  flex-shrink: 0;
  width: 100%;
}
.inputComponent {
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
  .antd-select,
  .ant-input {
    width: 100%;
  }
}
.label {
  margin-bottom: 10px;
}
.activeMenus {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  flex-flow: row wrap;
}
.menu {
  background-image: url("https://i.pinimg.com/originals/9f/20/f0/9f20f045c6a90b7d2dd0c6a6f4efa28f.jpg");
  width: calc(100% / 3 - 10px);
  height: 190px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  padding-top: 40px;
  cursor: pointer;
  transition: 0.3s;
  outline: 2px solid #21356d00;
  flex-flow: column;
  margin-top: 10px;
  &.active {
    outline: 2px solid #21356d;
    outline-offset: 2px;
  }
}
.menuItems {
  display: flex;
  flex-flow: column;
  width: 100%;

  > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    margin-bottom: 10px;
    .count {
      width: 30%;
      display: flex;
      justify-content: space-around;
      button {
        width: 30px;
        height: 30px;
        border: 0;
        cursor: pointer;
        background-color: #d6bf10;
        color: #21356d;
        transition: 0.3s;
        border-radius: 100%;
      }
    }
  }
}
.placeOrderBtn {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 50px;
  font-size: 15px;
  font-weight: 600;
  background: transparent;
  border: 2px solid #1c2c59;
  padding: 0 20px;
  border-radius: 10px;
  transition: 0.3s;
  &:hover {
    background-color: #2d478f;
    color: #fff;
  }
}
